@using ContentModels = NLappCMS.Models;
@using System.Web.Configuration;

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    // Get basic design settings from the root page
    ContentModels.Welkom root = Model.Content.Site() as ContentModels.Welkom;

    var nlappDomain = UmbracoContext.Current.HttpContext.Request.Url.GetLeftPart(UriPartial.Authority);
    var versionNo = WebConfigurationManager.AppSettings["nlapp-version"];

    var requestPathParts = Request.Url.PathAndQuery.Split('/');
    var reqCityAndLanguagePath = string.Join("/", requestPathParts.Take(Math.Min(3, requestPathParts.Length)));
    var startQS = reqCityAndLanguagePath.IndexOf("?", StringComparison.InvariantCulture);
    if (startQS > -1)
    {
        reqCityAndLanguagePath = reqCityAndLanguagePath.Remove(startQS);
    }

    var manifestUrl = nlappDomain + reqCityAndLanguagePath + "/manifest";

    // SEO Description
    string seoDescription = "";
    IPublishedContent content = Model.Content;
    do {
        ContentModels.SeoTranslated seoModel = new ContentModels.SeoTranslated(content);
        seoDescription = seoModel.TranslatedSeoMetaDescription;
        content = content.Parent;
    }
    while (string.IsNullOrWhiteSpace(seoDescription) && content != null && content.HasProperty("seoMetaDescription"));

    // language
    var siteLanguage = (Request.Cookies["lang"] != null ? Request.Cookies["lang"].Value.Substring(0,2) : "nl");
}

<!DOCTYPE html>
<html lang="@siteLanguage">
<head>
    <title>@root.Sitename @RenderSection("TitleExtra", required: false)</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" CONTENT="index, follow" />

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="@root.Sitename">
    <meta name="apple-mobile-web-app-title" content="@root.Sitename">
    <meta name="theme-color" content="#1565C0">
    <meta name="msapplication-navbutton-color" content="#37474f">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="./">

    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#37474f">

    @*SEO*@
    <meta name="description" content="@seoDescription">
    @*Content Security Policy*@
    <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content; upgrade-insecure-requests; default-src 'self'; style-src @nlappDomain 'self' 'unsafe-inline'; img-src * ; media-src https://*; child-src https://www.google.com 'self'; script-src 'self' 'unsafe-inline' @nlappDomain https://ajax.aspnetcdn.com https://*.msecnd.net; connect-src 'self' https://*.visualstudio.com; object-src 'none';">

    <base href="/">

    @*Links*@
    <link rel="manifest" href="@manifestUrl" />
    <link rel="stylesheet" href="@Url.Content("/css/nlapp.min.css?v=" + @versionNo)" async />

    @*Preload*@
    <link rel="preload" href="@Url.Content("/css/nlapp.min.css?v=" + @versionNo)" as="style" />

    @Html.Partial("Blocks/Icons")

    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        @Html.Partial("Blocks/AppInsights")
    }

    @RenderSection("Header", required: false)
</head>
<body @RenderSection("BodyClass", required: false)>
    <noscript>@Umbraco.GetDictionaryValue("JavaScript-melding")</noscript>

    @RenderBody()
    
    @*Scripts*@
    <script type="text/javascript" src="@Url.Content("/scripts/jquery-3.3.1.min.js")"></script>
    @Html.Partial("Blocks/Offline")

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="@Url.Content("/scripts/nlapp-bundle.js?v=" + @versionNo)"></script>
    }
    else
    {
        <script type="text/javascript" src="@Url.Content("/scripts/nlapp.min.js?v=" + @versionNo)"></script>
    }

    <script type="text/javascript" src="@Url.Content("/service-worker.js")" async></script>

    <script type="text/javascript">
        $(window).on("load", function () {
            $("body").addClass("loaded");
        });
    </script>

    @RenderSection("Scripts", false)
</body>
</html>
