@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<NLappCMS.Models.Html_404>

@using ContentModels = NLappCMS.Models;

@{
    Layout = "MasterNLapp.cshtml";
    ContentModels.Welkom root = Model.Content.Site() as ContentModels.Welkom;
}

@section BodyClass {
    class="list htmlerror"
}

<div class="wrapper">

    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/header_light.svg")))
    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/header_dark.svg")))

    <header role="banner">
        <a class="back" href="/" aria-label="@Umbraco.GetDictionaryValue("TerugNaarHome")">@Umbraco.GetDictionaryValue("Terug")</a>

        <span title="NLapp" class="category" role="heading" aria-label="@Umbraco.GetDictionaryValue("PaginaNietAanwezig")">
            @root.Sitename
        </span>

        @Html.Partial("SearchForm", Umbraco.UmbracoContext)
    </header>

    <main role="main">
        <div class="error-info">
            <h1>@Model.Content.Translated.Titel</h1>
            <p>@Model.Content.Translated.Omschrijving</p>
            <span class="url">@this.Request.Url</span>
            <p class="homeurl">
                <a href="/">@Umbraco.GetDictionaryValue("TerugNaarHome")</a>
            </p>
        </div>
    </main>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            window.nlapp.html404.init();
        });

        $(window).on("load", function () {
            window.nlapp.html404.load();
        });
    </script>
}
