@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<NLappCMS.Models.KaartPagina>

@{
    Layout = "MasterNLapp.cshtml";
    var parent = (NLappCMS.Models.Categorie)Model.Content.Parent;
    var map = (Model.Content != null && Model.Content.Maps != null) ? Model.Content.Maps.FirstOrDefault() : null;
    var missendeInhoud = @Umbraco.GetDictionaryValue("Missende inhoud");
    var missendeInhoudHtml = new HtmlString("<p class='missing-content'>" + missendeInhoud + "</p>");
}

@section Header {
    <meta name="IE_RM_OFF" content="true">
}

@section BodyClass {
    class="detail kaart cat-@(parent.SortOrder + 1)"
}

<div class="wrapper">

    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/header_light.svg")))
    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/header_dark.svg")))

    <header role="banner">
        <a class="back" href="@parent.Url" aria-label="@Umbraco.GetDictionaryValue("TerugNaarCategorie")">@Umbraco.GetDictionaryValue("Terug")</a>

        <span title="Categorie" class="category"
              role="heading" aria-label="@Umbraco.GetDictionaryValue("Categorie") @parent.Translated.CategorieNaam">
            @parent.Translated.CategorieNaam
        </span>

        @Html.Partial("SearchForm", Umbraco.UmbracoContext)
    </header>

    <main role="main">
        @if (map == null)
        {
            @Html.Partial("ContentBlock", missendeInhoudHtml)
        }
        else
        {
            <article role="article">
                <h1>@Model.Content.TranslatedTitel</h1>
                <div class="iframe-wrapper cat-@(parent.SortOrder + 1)">
                    <div class="offline-content">
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/map.svg")))
                        <span>@Umbraco.GetDictionaryValue("ConnectionOffline")</span>
                    </div>
                    <iframe src="@map.Url" title="@Model.Content.TranslatedTitel"></iframe>
                </div>

                @*share*@
                <a href="#" class="share" data-url="@Umbraco.NiceUrlWithDomain(Model.Content.Id)" data-title="@Model.Content.TranslatedTitel"
                   role="button" aria-label="@Umbraco.GetDictionaryValue("ShareLink")" tabindex="0">
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/share.svg")))
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/done.svg")))

                    <span class="sharetext">@Umbraco.GetDictionaryValue("ShareLink")</span>
                    <span class="donetext">@Umbraco.GetDictionaryValue("ShareLinkCopied")</span>
                </a>

            </article>
        }
    </main>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            window.nlapp.kaart.init();
            window.nlapp.kaart.setContentViewName('@parent.Name/@Model.Content.Name');
        });

        $(window).on("load", function () {
            window.nlapp.kaart.load();
        });

    </script>
}
