@using System.Web.Configuration
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<NLappCMS.Models.Onderwerp>

@{
    Layout = "MasterNLapp.cshtml";

    var missendeInhoud = Umbraco.GetDictionaryValue("Missende inhoud");
    var parent = (NLappCMS.Models.Categorie)Model.Content.Parent;
    var childs = Model.Content.Children();

    var onderwerpNaam = Model.Content.Translated != null ? Model.Content.Translated.OnderwerpNaam : null;

    var omschrijving = Model.Content.Translated != null ? Model.Content.Translated.Omschrijving : null;
    var replaceEmptyContent = WebConfigurationManager.AppSettings["nlapp-replace-empty-content_onderwerppage"] == "true";
    if (omschrijving == null || string.IsNullOrWhiteSpace(omschrijving.ToString())) {
        omschrijving = new HtmlString(replaceEmptyContent ? "<p class='missing-content'>" + missendeInhoud + "</p>" : "");
    }
}

@section BodyClass {
    class="detail cat-@(parent.SortOrder + 1)"
}

<div class="wrapper">
    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/header_light.svg")))
    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/img/header_dark.svg")))

    <header role="banner">
        <a class="back" href="@parent.Url"
           title="@Umbraco.GetDictionaryValue("TerugNaarCategorie") @parent.Translated.CategorieNaam"
           aria-label="@Umbraco.GetDictionaryValue("TerugNaarCategorie") @parent.Translated.CategorieNaam">
            @Umbraco.GetDictionaryValue("Terug")
        </a>

        <a href="@parent.Url" class="onderwerp-header-title"
           aria-label="@Umbraco.GetDictionaryValue("TerugNaarCategorie") @parent.Translated.CategorieNaam">
            <span class="category" role="heading">@parent.Translated.CategorieNaam</span>
        </a>

        @Html.Partial("SearchForm", Umbraco.UmbracoContext)
    </header>

    <main role="main">
        <div class="content">
            <article role="article">
                <section id="intro" role="contentinfo">
                    <div class="intro">
                        <h1>@onderwerpNaam</h1>
                        @Html.Partial("ContentBlock", omschrijving)
                    </div>
                </section>

                <section id="chapters">
                    @foreach (var pagina in childs)
                    {
                        <article role="article">
                            @if (pagina.DocumentTypeAlias.ToUpper() == "INFOPAGINA")
                            {
                                @Html.Partial("InfoPagina", pagina);
                            }
                            else if (pagina.DocumentTypeAlias.ToUpper() == "INFOPAGINALINK")
                            {
                                @Html.Partial("InfoPaginaLink", pagina);
                            }
                            else if (pagina.DocumentTypeAlias.ToUpper() == "INFOPAGINALINKNL")
                            {
                                @Html.Partial("InfoPaginaLinkNL", pagina);
                            }
                        </article>
                    }
                </section>
            </article>

            <div class="up" aria-hidden="true" tabindex="-1"></div>
        </div>
    </main>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            window.nlapp.onderwerp.init();
            window.nlapp.onderwerp.setContentViewName('@parent.Name/@Model.Content.Name');
        });

        $(window).on("load", function () {
            window.nlapp.onderwerp.load();
        });

    </script>
}
