@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<NLappCMS.Models.Welkom>

@using NLappCMS.Models;
@using Umbraco.Web;

@{
    Layout = "MasterNLapp.cshtml";

    Welkom root = Model.Content.Site() as Welkom;
    var pagetitle = root != null ? root.Sitename + " - Welkom" : "NLapp";
    var subtitle = root != null ? root.Subtitel : "";

    var instellingen = new Instellingen()
    {
        LanguageLabels = ApplicationContext.Services.LocalizationService.GetDictionaryItemByKey("Welkom").Translations,
        Root = root,
        Context = this.UmbracoContext
    };
}

@section Header {
    <meta name="IE_RM_OFF" content="true">
}

@section BodyClass {
    class="welkom"
}

<div class="wrapper">
    <h1 id="welkom-title">@pagetitle</h1>
    <h2 id="welkom-subtitle">@subtitle</h2>

    @Html.Partial("InstellingenWelkom", instellingen)

    <button name="back" type="button" class="back" aria-label="@Umbraco.GetDictionaryValue("Terug")">@Umbraco.GetDictionaryValue("Terug")</button>
</div>

@Html.Partial("Disclaimer")

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            window.nlapp.welkom.init();
        });

        $(window).on("load", function () {
            window.nlapp.welkom.load();
        });
    </script>
}
