@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<NLappCMS.Models.Welkom>

@using System.Web.Configuration
@using NLappCMS.Models;

@{
    var languages = ApplicationContext.Current.Services.LocalizationService.GetAllLanguages();

    Func<string, string, string> DictItem = (string key, string isoCode) =>
    {
        IDictionaryTranslation item = ApplicationContext.Services.LocalizationService.GetDictionaryItemByKey(key)
            .Translations.FirstOrDefault(i => i.Language.IsoCode == isoCode);

        return item == null ? string.Empty : item.Value;
    };

    Func<string, PrivacyContent> Voorwaarden = (string isoCode) => Model.Content.TranslatedTerms(isoCode);

    Func<string, bool> IsActiveLanguage = (string isoCode) =>
    {
        string activeLanguagesSetting = WebConfigurationManager.AppSettings["nlapp-active-languages"];
        if (string.IsNullOrEmpty(activeLanguagesSetting))
        {
            return false;
        }

        var activeLangs = activeLanguagesSetting.ToLower().Split(';');
        return activeLangs.Contains(isoCode.ToLower());
    };


    var activeLanguages = languages.Where(l => IsActiveLanguage(l.IsoCode));
}

@foreach (var language in activeLanguages.OrderBy(t => t.IsoCode.ToLower() == "nl-nl" ? 1 : 2))
{
    <div class="disclaimer @language.IsoCode" role="alert" aria-hidden="true">
        <div class="container">
            <header>
                <div class="close-disclaimer" aria-label="@Umbraco.GetDictionaryValue("Sluiten")" role="button"></div>
                <h3>@DictItem("DisclaimerAlertTitel", language.IsoCode)</h3>
                <span>@DictItem("DisclaimerAlertLabel", language.IsoCode)</span>
            </header>
            @{
                var voorwaarden = Voorwaarden(language.IsoCode);
            }

            @if (voorwaarden != null) {
                <div class="content">
                    <div>
                        <h4>@DictItem("DisclaimerAlertCookie", language.IsoCode)</h4>
                        <div>
                            <span>
                                @voorwaarden.CookiePolicy
                            </span>
                        </div>
                    </div>

                    <div>
                        <h4>@DictItem("DisclaimerAlertDisclaimer", language.IsoCode)</h4>
                        <div>
                            <span>
                                @voorwaarden.Disclaimer
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
